<br/>
<div class="container">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header v2">
        <h2 align="center">
          Angular Application by KARTHIKEYAN
        </h2>
      </div>
      <div class="card-body v2">
        <h4>This is Version2 of this application</h4>
        <h5>This application will be deployed to a Kubernetes (K8s) cluster</h5>
        <h6>Kubernetes!! HAPPY LEARNING :)</h6>
        <h6>Docker and Kubernetes!! AWESOME!! :)</h6>
      </div>
    </div>
  </div>
</div>